<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> <%- include('includes/bootstrap') %>
  </head>
  <body>
    <div class="container">
      <!-- navbar -->
      <div><%- include('includes/nav') %></div>
      <!-- request view -->
      <div class="pt-2"><%- include('requestView') %></div>
    </div>
    <!-- scripts -->
    <%- include('scripts/requestScript') %>
  </body>
</html>
